body {
    margin: 0px;
    padding: 0;
    font-family: 'Radikal Trial';
    background-color: white;
    color: #343434;
}

.content-compare {
    background-color: #f8f8f8;
    width: 970px;
    height: 310px;
    box-shadow: 0.125rem 0.125rem 0.4375rem 0 rgba(1,1,1,.15);
}

.content-compare-wrap {
    display: flex;
    justify-content: center;
}

.compare-select {
    display: flex;
    justify-content: space-evenly;
}

.selectbox {
    position: relative;
    border: 1px solid black;
    border-radius: 4px;
    width: 344px;
    height: 48px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.selectbox select, input {
    color: #343434;
    background-color: white;
    border-radius: 4px;
    border: none;
    appearance: none;
    width: 100%;
    padding: 20px 15px 1px 15px;
    font-size: 16px;
}

.selectbox p:nth-child(2) {
    position: absolute;
    top:5px;
    left: 15px;
    color: black;
    font-size: 16px;
}

.selectbox input {
    margin-left: 11px;
    width: 80%;
}

.selectbox input:focus {
    outline: none;
}

.selectbox p:nth-child(1) {
    position: absolute;
    top: -7px;
    left: 15px;
    font-size: 12px;
    color: #707070;
}

.selectbox i {
    position: absolute;
    right: 25px;
    top: 15px;
}

.compare-cars-wrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.compare-cars {
    display: flex;
}

.compare-button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.compare-button {
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 50px;
    width: 300px;
    height: 38px;
    margin-bottom: 50px;
}